<footer>
  <p>Follow <a href="https://twitter.com/christiannaths">@christiannaths</a></p>
  <p>The content, logo, and layout for this site was generously donated by <a href="https://twitter.com/adamwhitcroft">@adamwhitcroft</a>. I'm piggybacking off of his initiative (with permission) beacause I thought it was a really cool idea and I wanted to get involved. I hope more people will do the same.</p>
  <p>Want to get involved? <a href="https://github.com/AdamWhitcroft/open-mentorship">Fork the original repository</a></p>
</footer>
