/*
    Doc
*/

html {
    font-family: $font-family-sans;
    background: white;
    color: $color-main;
    line-height: 1.5em;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrap {
    margin: 0 auto;
    max-width: 36em;
    padding: $measure * 2;

    @media screen and (max-width: $breakpoint-s) {
        padding: $measure;
    }

}

.plain-ul {
    margin: 0;
    padding: 0;
}

.button {
    display: inline-block;
    padding: $measure/4 $measure/2;
    border: 2px solid $color-accent;
    border-radius: .25em;
    font-weight: bold;

    &:hover {
        border-color: #90278e;
    }

}

/*
    Header
*/

header {
    padding: 0 0 $measure 0;
    height: 38px;
    position: relative;

    a {
        border: 0;
    }

}

/*
    Updates
*/

.updates {
    @extend .plain-ul;

    li {
        margin-bottom: 1em;
    }

    p {
        margin: 0;
    }

}

/*
    Footnotes
*/

.footnotes {
    padding: $measure 0;

    ol {
        font-size: $font-size-smaller;
        margin: 0;
        padding: 0;
    }

    p {
        margin: 0;
    }

}

/*
    Footer
*/

footer {
    padding: 2em 0 0 0;
    border-top: 2px solid $color-main;

    @media screen and (max-width: $breakpoint-s) {
        width: 100%;
    }

    p {
        font-size: $font-size-smaller;
        margin: 0;
    }

}

/*
    Bubble faces
*/

.bubbleLeft,
.bubbleRight {
    display: block;
    height: 38px;
    width: 40px;
    position: absolute;
    mix-blend-mode: multiply;
    background-size: 40px;
}

.bubbleFace {
    display: block;
    width: 16px;
    height: 14px;
    position: absolute;
    top: 9px;
    left: 17px;
    background-image: url(http://adamwhitcroft.com/open-mentorship/assets/bubbleFace.png);
    background-size: 16px;
}

.bubbleLeft {
    background-image: url(http://adamwhitcroft.com/open-mentorship/assets/bubbleLeft.png);
    animation: bounce 2000ms infinite;
}

.bubbleRight {
    background-image: url(http://adamwhitcroft.com/open-mentorship/assets/bubbleRight.png);
    left: 10px;
    animation: bounce 2000ms 800ms infinite;
}


@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -5px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -3px, 0);
  }

  90% {
    transform: translate3d(0,-1px,0);
  }
}
