/*
    TYPE
*/

h1 {
    font-family: $font-family-serif;
    font-weight: bold;
}

h2 {
    font-size: 1em;
}

h1,h2,h3,p,ul {
    line-height: 1.5em;
    margin-bottom: 2em;
}

a {
    color: $color-accent;
    text-decoration: none;

    &:hover {
        color: #90278e;
    }

}

blockquote {
    font-family: $font-family-serif;
    margin-left: 1em;
    margin-right: 1em;
    font-size: $font-size-larger;
}

sup {
    font-weight: bold;
}

time {
    color: $color-main-light;
}
