/*
    VARIABLES
*/

/* Colours */
$color-main: #31373D;
$color-main-light: #798C9C;
$color-accent: #752ec0;

/* Fonts */
$font-family-sans: -apple-system, BlinkMacSystemFont,'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
$font-family-serif: Athelas, Georgia, Cambria, "Times New Roman", serif;

$font-size-smaller: .875em;
$font-size-larger: 1.25em;

/* Measure */
$measure: 2em;

/* Responsive */
$breakpoint-m: 960px;
$breakpoint-s: 720px;
